.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  .animate-fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .delay-0 { animation-delay: 0s; }
  .delay-1 { animation-delay: 0.2s; }
  .delay-2 { animation-delay: 0.4s; }
  .delay-3 { animation-delay: 0.6s; }
  .delay-4 { animation-delay: 0.8s; }
  .delay-5 { animation-delay: 1s; }
  .delay-6 { animation-delay: 1.2s; }
  .delay-7 { animation-delay: 1.4s; }
  .delay-8 { animation-delay: 1.6s; }
  .delay-9 { animation-delay: 1.8s; }
  .delay-10 { animation-delay: 2s; }
  .delay-11{ animation-delay: 2.2s; }
  .delay-12 { animation-delay: 2.4s; }
  .delay-13 { animation-delay: 2.6s; }
  .delay-14 { animation-delay: 2.8s; }
  .delay-15 { animation-delay: 3s; }
  .delay-16 { animation-delay: 3.2s; }
  .delay-17 { animation-delay: 3.4s; }
  .delay-18 { animation-delay: 3.6s; }

  @keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }

  @keyframes waveLeft {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(10px);
    }
  }

  @keyframes waveRight {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-10px);
    }
  }

  @keyframes waveDown {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-10px);
    }
  }

  .animate-wave {
    animation: wave 1s infinite;
  }

  .animate-wave-left {
    animation: waveLeft 1s infinite;
  }

  .animate-wave-right {
    animation: waveRight 1s infinite;
  }

  .animate-wave-down {
    animation: waveDown 1s infinite;
  }
  body {
    padding-bottom: 4rem; /* Adjust the value according to your footer's height */
  }

  .img-zoom {
    transition: transform 0.3s ease;
  }
  
  .img-zoom:hover {
    transform: scale(1.1);
  }

  /* Untuk menghapus filter grayscale saat hover */
  .hover\:grayscale:hover {
      filter: none;
  }


  